*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
}

html{
    scroll-behavior: smooth;
    transition: 600ms;
}
a{
    text-decoration: none;
}
.btn{
    padding: 0.6rem 1.3rem;
    color: #fff;
    background-color: rgb(255, 138, 21);
    border: 1px solid rgb(255, 138, 21);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #000000;
    background-color: transparent;
    color: #000000;
    transition: all 0.3s;
}
section{
    width: 100%;
    min-height: 100lvh;
}

body{
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(90deg,rgb(255, 255, 255),rgb(255, 253, 234),white);
}
header{
    position: sticky;
    top: 0;
    z-index: 9999;
}
nav{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
}
.nav-text{
    width: 450px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-transform: capitalize;
}
.nav-text li a{
    color: #000000;
    letter-spacing: 0.5px;
}
.nav-text li a:hover{
    color: rgb(255, 138, 21);
    transition: all 0.3s ease-in-out;
}
.nav-btns button:nth-child(1){
    padding: 0.6rem 1.3rem;
    color: #000000;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.home{
    width: 100%;
    height: 50lvh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}
.home-content{
    width: 500px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: flex-end;
}
.home-content h1{
    font-size: 58px;
    letter-spacing: 0.5px;
}
.home-content p{
    padding: 0.5rem 0;
}
.home-details-container{
    width: 100%;
    min-height: 20lvh;
}
.home-details{
    width: 46%;
    min-height: 20lvh;
    background-color: #fffef5c3;
    box-shadow: 0px 0px 20px rgb(228, 228, 228);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    margin-top: 2.5rem;
    color: #000000;
    z-index: 999;
}
.home-box{
    width: 180px;
    height: auto;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
}
.home-box h3{
    font-size: 16px;
    font-weight: 600;
}
.home-box h5{
    padding: 0.5rem 0;
    font-size: 11px;
}
.choose{
    display: flex;
}
.choose i{
    padding: 0.3rem 0;
    color: #000000;
}

.about{
    width: 100%;
    min-height: 60lvh;
    background-color: transparent;
    color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.about-content{
    width: 600px;
}
.about-image{
    width: 510px;
    display: flex;
    gap: 0.5rem;
}
.about-image img{
    width: 250px;
    height: auto;
    border-radius: 5px;
}
.about-container{
    width: 100%;
    min-height: 15lvh;
    display: flex;
    align-items: center;
}
.about-content h1{
    font-size: 36px;
}
.about-content p{
    padding-top: 0.5rem;
}
.about-box{
    width: 250px;
}
.about-box .box-title h1{
    color: rgb(255, 111, 58);
    font-size: 48px;
    padding-top: 0.8rem;
    font-weight: 900;
    padding-bottom: 0rem;
}
.box-title p{
    font-size: 14px;
    letter-spacing: 0.5px;
}

.advantage{
    width: 100%;
    min-height: 50lvh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.adt-box{
    width: 300px;
    min-height: 250px;
    text-align: left;
    padding: 2rem 1.5rem;
    background-color: rgba(255, 255, 249, 0.415);
    box-shadow: 0 0 15px rgba(86, 86, 86, 0.221);
    border-radius: 10px;
}
.adt-box h3{
    font-size: 20px;
    padding-top: 1.5rem;
}
.adt-box p{
    font-size: 14px;
    padding-top: 0.5rem;
}
.adt-box i{
    font-size: 40px;
    padding: 0.5rem;
    border-radius: 50%;
}
.adt-box:nth-child(1) i{
    background-color: rgb(81, 81, 255);
    color: #fff;
    border: 2px solid #ffffff32;
    box-shadow: 0 0 15px rgb(81, 81, 255);
}
.adt-box:nth-child(2) i{
    background-color: rgb(255, 151, 81);
    color: #fff;
    border: 2px solid #ffffff32;
    box-shadow: 0 0 15px rgb(255, 151, 81);
}
.adt-box:nth-child(3) i{
    background-color: rgb(63, 235, 135);
    color: #fff;
    border: 2px solid #ffffff32;
    box-shadow: 0 0 15px rgb(63, 235, 135);
}
.adt-box:nth-child(4) i{
    background-color: rgb(255, 206, 60);
    color: #fff;
    border: 2px solid #ffffff32;
    box-shadow: 0 0 15px rgb(255, 206, 60);
}
.adt-content{
    width: 100%;
    height: 3=20lvh;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.adt-content h1{
    font-size: 40px;
}
.adt-content p{
    width: 50%;
    padding: 0.5rem 0;
    text-align: center;
}


.property{
    width: 100%;
    min-height: 20lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2.5rem;
}
.property-title{
    margin-top: 4rem;
}
.property-container{
    width: 100%;
    min-height: 30lvh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.property-box{
    width: 350px;
    min-height: 380px;
    background-color: #ffffff72;
    box-shadow: 0 0 15px #c0c0c076;
    border-radius: 15px;
}
.property-box img{
    width: 350px;
    height: auto;
    border-radius: 15px 15px 0 0;
}




/*---------contact--------*/

.contact{
    width: 100%;
    min-height: 30lvh;
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contact-heading{
    width: 100%;
    text-align: center;
    color: var(--fontcolor);
}
.col{
    width: 300px;
    height: auto;
}
.col p{
    padding: 1rem 0;
}
.col span{
    color: var(--fontcolor);
    padding: 1rem 0;
    font-size: 12px;
}
.col ul{
    padding: 1rem 0;
}
.col ul li{
    list-style: none;
    padding: 0.2rem 0;
    letter-spacing: 0.5px;
    font-size: 11px;
}
.social .social-link{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 0.2rem;
    font-size: 20px;
    padding: 0.5rem 0;
}
.social-link a{
    color: #000000;
}
.social-link a:hover{
    color: coral;
    transition: all 0.3s;
}





.line{
    width: 100%;
    margin-top: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.line div{
    width: 10px;
    height: 5px;
    background-color: coral;
    border-radius: 50px;
}
.line div:nth-child(2){
    background-color: #000000;
}
.line div:nth-child(3){
    background-color: #000000;
}